.popup-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
}

.popup-content {
	background-color: white;
	padding: 30px 30px 20px 30px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	text-align: center;
}

.button-container {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.button-container button {
	width: 100px;
	margin: 0 5px;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.confirm-button {
	background-color: #FFBF00;
	color: white;
}

.cancel-button {
	background-color: #e0e0e0; /* 은은한 회색 배경색 */
	color: white;
}

/* 모달 뒷 배경 스타일 */
.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1100;
	display: none;
}

.layer {
	border-radius: 15px 15px 0 0;
	position: fixed;
	background-color: white;
	left: 0;
	width: 100%;
	max-height : 80%;
	min-height: 30%;
	display: flex;
	flex-direction: column;
	z-index: 9999;
}

/* 타이틀과 닫기 버튼 스타일 */
.layer-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 20px 0px 22px;
}

.layer-top>div {
	font-weight: 800;
    font-size: 1.1rem;
}

.layer-close {
	background-color: #ffffff;
	border: none;
	font-weight: bold;
}

/* 콘텐츠 스타일 */
.layer-content {
	padding: 20px;
}