<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liivtogether.mapper.ApplyMapper">


	<select id="select" parameterType="String" resultType="Apply">

	</select>

	<select id="selectall" resultType="Apply">

	</select>


	<insert id="insert" parameterType="Apply">
		INSERT INTO apply
		(contents_id, cust_id, memo, topic_big, agree, rdate)
		VALUES(#{contentsId}, #{custId}, #{memo}, #{topicBig}, #{agree},
		NOW())
	</insert>

	<update id="update" parameterType="Apply">
	</update>

	<delete id="delete" parameterType="String">

	</delete>


	<select id="preCheck" parameterType="String"
		resultType="Integer">
		SELECT
		COUNT(*) as cnt
		FROM apply
		WHERE cust_id = #{custId}
		AND topic_big = #{topicBig}
		AND contents_id = #{contentsId}
	</select>

	<select id="getJoinComplete" parameterType="Object"
		resultType="Apply">
		SELECT *
		FROM apply
		WHERE cust_id = #{custId}
		AND contents_id
		= #{contentsId}
	</select>

	<select id="getMyList" parameterType="Object" resultType="Apply">
		SELECT
		a.apply_id as applyId,
		a.contents_id as contentsId,
		a.cust_id as custId,
		c.topic_big as topicBig,
		c.title,
		c.location,
		c.ddate,
		c.image_main as imageMain,
		c.content,
		c.reword_coin as rewordCoin,
		a.rdate,
		a.memo
		FROM apply a
		INNER JOIN contents c ON a.contents_id = c.id
		WHERE
		a.cust_id = #{custId}
	    AND (
	       #{topicBig} = '' OR
	       a.topic_big = #{topicBig}
		   )
		ORDER BY a.apply_id DESC

	</select>


</mapper>