<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liivtogether.mapper.DonationMapper">

    <select id="selectall" resultType="Donation">
        SELECT id as donaId
		, topic_big as topicBig
		, topic_small as topicSmall
		, title
		, location
		, edate 
		, ddate
		, target
		, target_in as targetIn
		, image_main as imageMain
		, image_sub as imageSub
		, comment
		, content
		, reword_coin as rewardCoin
		, view
		, rdate
		FROM contents
		WHERE topic_big = 'D'
		ORDER BY ddate DESC
    </select>

    <select id="selectrecommend" resultType="Donation">
        SELECT id as donaId
		, topic_big as topicBig
		, topic_small as topicSmall
		, title
		, location
		, edate 
		, ddate
		, target
		, target_in as targetIn
		, image_main as imageMain
		, image_sub as imageSub
		, comment
		, content
		, reword_coin as rewardCoin
		, view
		, rdate
		FROM contents
		WHERE topic_big = 'D'
		ORDER BY (target_in / target) ASC
		LIMIT 3
    </select>

    <select id="select" parameterType="Integer" resultType="Donation">
		SELECT id as donaId
		, topic_big as topicBig
		, topic_small as topicSmall
		, title
		, location
		, edate
		, ddate 
		, target
		, target_in as targetIn
		, image_main as imageMain
		, image_sub as imageSub
		, comment
		, content
		, reword_coin as rewardCoin
		, view
		, rdate
		FROM contents
		WHERE id=#{donaId}
    </select>
    <select id="getBannerList" resultType="Donation">
	 <![CDATA[
	    SELECT
	        id AS donaId,
	        title,
	        image_main AS imageMain,
	        image_sub AS imageSub,
	        comment,
	        content
	    FROM
	        contents
	    WHERE
	        topic_big = 'D'
	        AND ddate >= CURDATE() -- 오늘보다 크거나 같은 날짜
	        AND (target_in < target) -- 인원이 차지 않은 경우만 포함
	    ORDER BY
	        edate ASC
	    LIMIT 3;
    ]]>

	</select>
    <update id="setTargetIn" parameterType="donation">
        UPDATE contents
        SET target_in =#{targetIn}
        WHERE id = #{donaId}
    </update>
	 


   <!-- 안하면 지우기 -->
    <insert id="insert" parameterType="Donation">
        INSERT INTO contents
        VALUES (#{topic_big}, #{topic_small}, #{title}, #{location}, #{edate}, #{ddate}, #{target}, #{image_main}, #{image_sub}, #{comment}, #{content}, #{reward_coin}, SYSDATE)
    </insert>

	<update id="update" parameterType="Donation">
	    UPDATE contents
	    SET
	    target_in = #{targetIn} + #{mount}
	    WHERE id = #{donaId}
	</update>


    <delete id="delete" parameterType="String">
        DELETE
        FROM contents
        WHERE cust_id = #{cust_id}
    </delete>

</mapper>