<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liivtogether.mapper.PointMapper">


	<select id="select" parameterType="String" resultType="Point">

	</select>

	<select id="selectall" resultType="Point">
	
	</select>
	
	
	<insert id="insert" parameterType="Point">
	INSERT INTO phistory
	(contents_id, cust_id, memo, topic_big, agree, rdate)
	VALUES(#{contentsId}, #{custId}, #{memo}, #{topicBig}, #{agree}, NOW())
	</insert>

	<update id="update" parameterType="Point">
	</update>

	<delete id="delete" parameterType="String">

	</delete>
	
	
	<select id="preCheck" parameterType="String" resultType="Integer">
	  SELECT
	  <choose>
	    <when test="pointcoin == 'COIN'">
	      starcoin
	    </when>
	    <when test="pointcoin == 'POINT'">
	      pointree
	    </when>
	  </choose>
	  FROM cust
	  WHERE cust_id = #{custId}
	</select>

	

</mapper>