<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liivtogether.mapper.PointMapper">


	<select id="select" parameterType="String" resultType="Point">

	</select>

	<select id="selectall" resultType="Point">
	
	</select>
	
	
	<insert id="insert" parameterType="Point">
	INSERT INTO phistory
	(pointcoin, gplace, uplace, rdate, cust_id, mount)
	VALUES(#{pointcoin}, #{gplace}, #{uplace}, NOW(), #{custId}, #{mount})
	</insert>
	
	<update id="update" parameterType="Point">
	    UPDATE cust
	    SET
	    <choose>
	        <when test="pointcoin == 'POINTREE'">
	            <choose>
	                <when test="gplace != null"> pointree = pointree + #{mount}</when>
	                <when test="uplace != null"> pointree = pointree - #{mount}</when>
	            </choose>
	        </when>
	        <when test="pointcoin == 'COIN'">
	            <choose>
	                <when test="gplace != null"> starcoin = starcoin + #{mount}</when>
	                <when test="uplace != null"> starcoin = starcoin - #{mount}</when>
	            </choose>
	        </when>
	    </choose>
	    WHERE cust_id = #{custId}
	</update>




	<delete id="delete" parameterType="String">

	</delete>
	
	
	<select id="preCheck" parameterType="String" resultType="Integer">
	  SELECT
	  <choose>
	    <when test="pointcoin == 'COIN'">
	      starcoin
	    </when>
	    <when test="pointcoin == 'POINT'">
	      pointree
	    </when>
	  </choose>
	  FROM cust
	  WHERE cust_id = #{custId}
	</select>

	

</mapper>