<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liivtogether.mapper.VolunteerMapper">


      <select id="selectall" resultType="volunteer">
         SELECT id as voluId
		, topic_big as topicBig
		, topic_small as topicSmall
		, title
		, location
		, edate 
		, ddate
		, target
		, target_in as targetIn
		, image_main as imageMain
		, image_sub as imageSub
		, comment
		, content
		, reword_coin as rewardCoin
		, view
		, rdate
		FROM contents
		WHERE topic_big = 'V'
		ORDER BY ddate DESC 
      </select>
  
      <select id="selectrecommend" resultType="volunteer">
        SELECT id as voluId
		, topic_big as topicBig
		, topic_small as topicSmall
		, title
		, location
		, edate 
		, ddate
		, target
		, target_in as targetIn
		, image_main as imageMain
		, image_sub as imageSub
		, comment
		, content
		, reword_coin as rewardCoin
		, view
		, rdate
		FROM contents
		WHERE topic_big = 'V'
		ORDER BY (target_in / target) ASC
		LIMIT 3
    </select>
    
     <select id="select" parameterType="Integer" resultType="volunteer">
		SELECT id as voluId
		, topic_big as topicBig
		, topic_small as topicSmall
		, title
		, location
		, edate
		, ddate 
		, target
		, target_in as targetIn
		, image_main as imageMain
		, image_sub as imageSub
		, comment
		, content
		, reword_coin as rewardCoin
		, view
		, rdate
		FROM contents
		WHERE id=#{voluId}
    </select>
    
    <insert id="insert" parameterType="volunteer">
        INSERT INTO contents
        VALUES (#{cust_id}, #{cust_name}, #{cust_pwd}, #{phone}, #{age}, #{gender}, #{email}, SYSDATE, NULL)
    </insert>

    <update id="update" parameterType="volunteer">
        UPDATE contents
        SET cust_name=#{cust_name},
            cust_pwd=#{cust_pwd},
            phone=#{phone},
            age=#{age},
            gender=#{gender}
            email=#{email}
        WHERE cust_id = #{cust_id}
    </update>

  

    <delete id="delete" parameterType="String">
        DELETE
        FROM contents
        WHERE cust_id = #{cust_id}
    </delete>

</mapper>