<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liivtogether.mapper.VolunteerMapper">


      <select id="selectall" resultType="volunteer">
         SELECT id as voluId
		, topic_big as topicBig
		, topic_small as topicSmall
		, title
		, location
		, edate 
		, ddate
		, target
		, target_in as targetIn
		, image_main as imageMain
		, image_sub as imageSub
		, comment
		, content
		, reword_coin as rewardCoin
		, view
		, rdate
		FROM contents
		WHERE topic_big = 'V'
		ORDER BY ddate DESC 
      </select>
  
      <select id="selectrecommend" resultType="volunteer">
        SELECT id as voluId
		, topic_big as topicBig
		, topic_small as topicSmall
		, title
		, location
		, edate 
		, ddate
		, target
		, target_in as targetIn
		, image_main as imageMain
		, image_sub as imageSub
		, comment
		, content
		, reword_coin as rewardCoin
		, view
		, rdate
		FROM contents
		WHERE topic_big = 'V'
		ORDER BY (target_in / target) ASC
		LIMIT 3
    </select>
    
     <select id="select" parameterType="Integer" resultType="volunteer">
		SELECT id as voluId
		, topic_big as topicBig
		, topic_small as topicSmall
		, title
		, location
		, edate
		, ddate 
		, target
		, target_in as targetIn
		, image_main as imageMain
		, image_sub as imageSub
		, comment
		, content
		, reword_coin as rewardCoin
		, view
		, rdate
		FROM contents
		WHERE id=#{voluId}
    </select>
       <select id="getBannerList" resultType="volunteer">
	 <![CDATA[
	    SELECT
	        id AS voluId,
	        title,
	        image_main AS imageMain,
	        image_sub AS imageSub,
	        comment,
	        content
	    FROM
	        contents
	    WHERE
	        topic_big = 'V'
	        AND edate >= CURDATE() -- 오늘보다 크거나 같은 날짜
	        AND (target_in < target) -- 인원이 차지 않은 경우만 포함
	    ORDER BY
	        edate ASC
	    LIMIT 3;
    ]]>

	</select>
    <insert id="insert" parameterType="volunteer">
        INSERT INTO contents
        VALUES (#{cust_id}, #{cust_name}, #{cust_pwd}, #{phone}, #{age}, #{gender}, #{email}, SYSDATE, NULL)
    </insert>

    <update id="update" parameterType="volunteer">
	  UPDATE contents
		    SET
		    target_in = #{targetIn} + 1
		    WHERE id = #{voluId}
    </update>


    <delete id="delete" parameterType="String">
        DELETE
        FROM contents
        WHERE cust_id = #{cust_id}
    </delete>
    

	<select id="getVolunteerList" parameterType="java.util.Map" resultType="volunteer">
	    SELECT c.id as voluId
	        , c.topic_big as topicBig
	        , c.topic_small as topicSmall
	        , c.title
	        , c.edate
	        , c.ddate
	        , c.target
	        , IFNULL(COUNT(DISTINCT a.cust_id), 0) as targetIn
	   		, IFNULL(COUNT(DISTINCT l.like_id), 0) as likesCount
	        , c.image_main as imageMain
	        , c.reword_coin as rewardCoin
	        , c.view
	        , c.rdate
	    FROM contents c
	    LEFT JOIN
	   		apply a
	    ON
	    	c.id = a.contents_id
	    LEFT JOIN 
	   		likes l
		ON 
	   		c.id = l.contents_id
	    WHERE c.topic_big = 'V'
	    <if test="topicSmall != null and topicSmall != ''">
	        AND c.topic_small = #{topicSmall}
	    </if>
	    <if test="includeClosed == false">
	        AND (c.edate >= #{currentDate} OR c.edate IS NULL)
	    </if>
	    GROUP BY 
	    c.id, c.topic_big, c.topic_small, c.title, c.edate, c.ddate, c.target, c.image_main, c.reword_coin, c.view, c.rdate
	    <if test="order == 'brandNew'">
	        ORDER BY voluId DESC
	    </if>
	    <if test="order == 'popular'">
	        ORDER BY likesCount DESC
	    </if>
	    <if test="order == 'deadline'">
	        ORDER BY c.edate ASC
	    </if>
	    <if test="order == 'targetIn'">
	        ORDER BY targetIn DESC
	    </if>
	    <if test="order == 'views'">
	        ORDER BY c.view DESC
	    </if>
	    LIMIT 9
	    <if test="offset != null and offset != ''">
	        OFFSET #{offset}
	    </if> 
	</select>
	

	<update id="updateViews" parameterType="Integer">
	    UPDATE contents
	    SET view = view + 1
	    WHERE id = #{voluId}
	</update>

</mapper>